frontend/node_modules
frontend/dist
.DS_Store
.task
bin
CLAUDE.md
.ace-tool/
.helloagents/
.spec-workflow/
build/linux/appimage/build/*
build/linux/appimage/code-switch-R
build/linux/appimage/appicon.png
